<div class="post">
  <div class="container-fluid">
    <div class="post-content">
      <span class="author">{{postObj.author}}:</span>
      <span class="title">{{postObj.title}}</span>
    </div>
    <div class="operators col-md-12">
      <span vote-tooltip class="badge">{{postObj.votes}}</span>
      <span ng-show="voteMode" class="glyphicon glyphicon-thumbs-up" ng-click="votePost(postObj)"></span>
      <span ng-hide="voteMode" class="glyphicon glyphicon-thumbs-down" ng-click="votePost(postObj)"></span>
      <span class="glyphicon glyphicon-comment"></span>
      <span ng-show="isUserAuthPost()" class="glyphicon glyphicon-remove" confirm-click="deletePost(postObj)" confirm-msg="Are you sure you want to delete this post?"></span>
      <span ng-show="isUserAuthPost()" class="glyphicon glyphicon-pencil" ng-click="toggleEditModeFunc()"></span>
    </div>
  </div>
  <form ng-show="editMode" id="post-edit" ng-submit="editPost(postObj)">
    <input type="text" class="post-edit-tooltip" ng-model="postObj.title" ng-keyup="keyUpOnEdit($event)"></input>
  </form>
  <div class="comment">
    <form id="post-comment" ng-submit="postComment(postObj)">
      <input class="form-control" ng-model="commentBody" type="text" placeholder="comment....."/>
    </form>
    <ul ng-repeat="cmt in postObj.comments | reverse">
      <li>
        <div class="container-fluid">
          <div class="col-md-3">
            <strong>{{cmt.author}}:</strong></br><small>{{cmt.time | datetime}}</small>
          </div>
          <div class="col-md-9">
            {{cmt.body}}
          </div>
        </div>
       </li>
    </ul>
  </div>
</div>
